.wrapper {
    display: block;
}

.link {
    color: rgba(255,255,255,0.75);
    font-weight: 600;
    text-decoration: none;
    margin: 10px;
}

.link:hover {
    color: #fff;
    transition: 0.15s linear;
}
